<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
              theme: {
                extend: {
                  colors: {
                    clifford: '#da373d',
                    primary: '#F59CA9',
                    secondary: '#F6828C',
                    tertiary: '#DF57BC',
                    text: '#371E30',
                  }
                }
              }
            }
          </script>
         </script>
    </head>
    <body class='bg-primary'>
        <div class='grid grid-cols-5'>
            <div class='col-start-1 col-span-full bg-secondary border border-text'>
              <div class='col-start-3'>
                  <div class='flex flex-auto justify-center'>
                        {% include 'search.html' %}
                  </div>
              </div>
            </div>
          

            {% block content %}

            {% endblock content %}
        <div>
                <script src="" async defer></script>
    </body>
</html>